# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://logydffwalmqvmxghxlk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_p7gM1EiWnhsxsDe-J0Vbxg_Vtmhoy42
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxvZ3lkZmZ3YWxtcXZteGdoeGxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2ODU4ODIsImV4cCI6MjA5NzI2MTg4Mn0.1v0uCqdhlncOyHeGqB7MC4z3x24VfVl-Su81unL-JVY

# AI Configuration
OPENAI_API_KEY=

# Planner API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
